.example {
  border-radius: 10px; /* Ajusta el valor para cambiar el radio de los bordes */
  background-color: rgba(29, 29, 29, 0.7); /* Color con 80% de opacidad */
  padding: 40px;
  // color: #D8DEE9;
}

.left-box {
  background-color: rgba(70, 130, 180, 0.5); /* Fondo azul con 50% de opacidad */
  padding: 10px;
  border-radius: 10px; /* Bordes redondeados */
}

.right-box {
  background-color: rgba(255, 99, 71, 0.5); /* Fondo rojo con 50% de opacidad */
  padding: 10px;
  border-radius: 10px; /* Bordes redondeados */
}

.time-label {
  font-size: 60px;        
  color: #5AEDA3;           
  font-family: "Inconsolata Nerd Font";
}

.date-label {
  font-size: 22px;
  color: #00CCDE;
  font-family: "Inconsolata Nerd Font";
}

.ram-label {
  font-size: 20px;
  color: #353535;
  font-family: "Inconsolata Nerd Font";
}

