.widget_hours {
  background-color: rgba(28, 28, 28, 0); /* Color con 30% de opacidad */
  padding: 0px;
}


//////////////////////////////////
////    widget_clock_data     ////
//////////////////////////////////

.box_clock {
  background-color: rgba(29, 29, 29, 0.7); /* Color con 30% de opacidad */
  border-radius: 10px;
  padding: 10px;
}

.box_clock_box {
  background-color: #161616; 
  border-radius: 10px;
  padding: 10px;
}

.clock-dot {
  font-size: 55px;        
  color: #B8B8B8;           
  // font-family: "Inconsolata Nerd Font";
  font-family: "Digital Dismay";
}

.time-label {
  font-size: 55px;        
  color: #5AEDA3;           
  // font-family: "Inconsolata Nerd Font";
  font-family: "Digital Dismay";
}


//////////////////////////////////
////     widget_data_day      ////
//////////////////////////////////

.box-day-contener {
  background-color: rgba(29, 29, 29, 0.7); /* Color con 30% de opacidad */
  border-radius: 10px;
  padding: 10px;
}

.box-day-logo {
  background-color: rgba(29, 29, 29, 0); /* Color con 30% de opacidad */
  border-radius: 10px;
  padding: 10px;
}

.box-day {
  background-color: #161616; 
  border-radius: 10px;
  padding: 10px;
}

.date-label-logo {
  font-size: 22px;
  color: #B8B8B8;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
}

.date-label-separ {
  font-size: 25px;
  color: #B8B8B8;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Digital Dismay";
}

.date-label {
  font-size: 25px;
  color: #ff44a0;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Digital Dismay";
}


//////////////////////////////////
////    widget_inf_system     ////
//////////////////////////////////

.box-inf-system {
  background-color: rgba(29, 29, 29, 0.7); 
  border-radius: 10px;
  padding: 10px;
}

.box-inf-system_01 {
  background-color: #161616; 
  border-radius: 10px;
  padding: 10px;
}

.battery-label {
  font-size: 25px;
  color: #9821D0;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
}

.ram-label {
  font-size: 18px;
  color: #B8B8B8;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
}

.CPU-inf {
  font-size: 18px;
  color: #9821D0;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
}


//////////////////////////////////
////-----View_workspaces------////
//////////////////////////////////

.desk-box {
  background-color: rgba(29, 29, 29, 0.7); 
  padding: 5px;
  border-radius: 10px; /* Bordes redondeados */
}

.desk-box_01 {
  background-color: rgba(29, 29, 29, 1); 
  padding: 8px;
  border-radius: 10px; /* Bordes redondeados */
}

.desk-test {
  font-size: 17px;
  color: #00CCDE;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
}


