.widget_hours {
  border-radius: 10px; /* Ajusta el valor para cambiar el radio de los bordes */
  background-color: rgba(29, 29, 29, 0.7); /* Color con 30% de opacidad */
  padding: 20px;
  // color: #D8DEE9;
}


//////////////////////////////////
////    box_left_and_right    ////
//////////////////////////////////

.left-box {
  background-color: rgba(29, 29, 29, 0); /* Fondo azul con 100% de opacidad */
  padding: 10px;
  border-radius: 10px; /* Bordes redondeados */
}

.right-box {
  // background-color: rgba(90, 237, 163, 1); /* Fondo rojo con 0% de opacidad verde */
  background-color: rgba(0, 204, 222, 1); /* Fondo rojo con 0% de opacidad azul */
  padding: 10px;
  border-radius: 10px; /* Bordes redondeados */
}


//////////////////////////////////
////      widget_box_left     ////
//////////////////////////////////

.time-label {
  font-size: 60px;        
  color: #5AEDA3;           
  font-family: "Inconsolata Nerd Font";
}

.date-label {
  font-size: 22px;
  color: #00CCDE;
  font-family: "Inconsolata Nerd Font";
}


//////////////////////////////////
////      widget_box_right    ////
//////////////////////////////////

.battery-label {
  font-size: 22px;
  color: #1d1d1d;
  font-family: "Inconsolata Nerd Font";
}

.ram-label {
  font-size: 17px;
  color: #1d1d1d;
  font-family: "Inconsolata Nerd Font";
}

.CPU-inf {
  font-size: 17px;
  color: #1d1d1d;
  font-family: "Inconsolata Nerd Font";
}

////-----View_workspaces------////
.desk-box {
  background-color: rgba(29, 29, 29, 1); 
  padding: 0px;
  border-radius: 10px; /* Bordes redondeados */
}

.desk-test {
  font-size: 17px;
  color: #00CCDE;
  font-family: "Inconsolata Nerd Font";
}


