.bar-window{
  background-color: rgba(255, 255, 255, 0);
}

//////////////////////////////
////      power_box       ////
//////////////////////////////
.box-power {
  background-color: rgba(29, 29, 29, 0.7);
  padding: 10px;
  border-radius: 10px;
}

////------config_butons---////
.button-power {
  background: #161616;
  box-shadow: none;
  border: none;
  border-color: #FFFFFF;
  padding: 11;
  font-size: 20px;
  color: #00CCDE;
  font-family: "Inconsolata NF";
  border-radius: 10px;
}


////---config_text_of_butons---////

.button_power_menu{
  font-size: 28px;
  color: #B8B8B8;
  font-family: "3270Condensed Nerd Font";
  text-shadow: none;
}

//////////////////////////////
////      apps_box        ////
//////////////////////////////
.box-apps {
  background-color: rgba(29, 29, 29, 0.7);
  padding: 10px;
  border-radius: 10px;
}

////------config_butons---////
.button-app {
  background: #161616;
  box-shadow: none;
  border: none;
  border-color: #FFFFFF;
  padding: 10;
  font-size: 20px;
  color: #00CCDE;
  font-family: "Inconsolata NF";
  border-radius: 10px;
}

////---config_text_of_butons---////
.machine {
  font-size: 28px; //26px;
  color: #5AEDA3;
  font-family: "warhammer40k";
  text-shadow: none;
}

.bluetooth {
  font-size: 26px;
  color: #00CCDE;
  font-family: "3270Condensed Nerd Font";
  text-shadow: none;
}

.pavucontrol {
  font-size: 26px;
  color: #ff44a0;
  font-family: "warhammer40k";
  text-shadow: none;
}
