.bar-window{
  background-color: rgba(255, 255, 255, 0);
}

//////////////////////////////
////      power_box       ////
//////////////////////////////
.box-power {
  background-color: rgba(29, 29, 29, 0.7);
  padding: 10px;
  border-radius: 10px;
}

////------config_butons---////
.button-power {
  background: #161616;
  box-shadow: none;
  border: none;
  border-color: #FFFFFF;
  padding: 10;
  font-size: 20px;
  color: #00CCDE;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
  border-radius: 10px;
}

// .button:hover {
//   background-color: rgba(255, 255, 255, 0.1);
// }

////---config_text_of_butons---////
.close-secion{
  font-size: 26px;
  color: #9821D0;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
  text-shadow: none;
}

.reboot{
  font-size: 26px;
  color: #B8B8B8;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
  text-shadow: none;
}

.suspend{
  font-size: 26px;
  color: #00CCDE;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
  text-shadow: none;
}

.poweroff{
  font-size: 26px;
  color: #ff44a0;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
  text-shadow: none;
}

//////////////////////////////
////      apps_box        ////
//////////////////////////////
.box-apps {
  background-color: rgba(29, 29, 29, 0.7);
  padding: 10px;
  border-radius: 10px;
}

////------config_butons---////
.button-app {
  background: #161616;
  box-shadow: none;
  border: none;
  border-color: #FFFFFF;
  padding: 10;
  font-size: 20px;
  color: #00CCDE;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
  border-radius: 10px;
}

////---config_text_of_butons---////
.metric3 {
  font-size: 26px;
  color: #5AEDA3;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
  text-shadow: none;
}

.git_hub {
  font-size: 26px;
  color: #5AEDA3;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
  text-shadow: none;
}

.bluetooth {
  font-size: 26px;
  color: #00CCDE;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
  text-shadow: none;
}

.pavucontrol {
  font-size: 26px;
  color: #ff44a0;
  // font-family: "Inconsolata Nerd Font";
  font-family: "Inconsolata NF";
  text-shadow: none;
}
